@model IEnumerable<Playground>

@{
    ViewData["Title"] = "Index";
}
<link href="~/assets/css/ratings.css" rel="stylesheet" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PmPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaygroundStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOffered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StadiumArea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PmPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Services)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Rate)*@
                    @{
                        var size =$"{item.Rate / 5 * 100}%";
                           
                    <div class="star-ratings">

                        <div class="fill-ratings" style="width:@size">
                            <span>★★★★★</span>
                        </div>
                        <div class="empty-ratings">
                            <span>★★★★★</span>
                        </div>
                    </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaygroundStatus)
                </td>
                <td>
                    @{
                        if (item.IsOffered == 1)
                        {
                            @Html.Label("Offered")
                        }

                        else if (item.IsOffered == 0)
                        {
                            @Html.Label("Not Offered");
                        }
                        else
                        {
                            @Html.Label("Not Applicable");
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PlaygroundId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PlaygroundId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PlaygroundId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/assets/js/core/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        var star_rating_width = $('.fill-ratings span').width();
        $('.star-ratings').width(star_rating_width);
    });
   
</script>